.newExpenceControlls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.newExpenceControll {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.newExpenceControll label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.newExpenceControll input {
  font: 1.6rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  width: 100%;
}

.newExpenceActions {
  font-size: 2rem;
  text-align: right;
}
